<header>
  <div class="container">
    <nav class="overlay" id="overlay">
      <ul>
        <li><a href="{{ site.baseurl }}/">Home</a></li>
        <li><a href="#"><a href="{{ site.baseurl }}/blog">Blog</a></a></li>
      </ul>
    </nav>
    <div class="navbar-header">
      <div class="toggle-button" id="toggle">
        <span class="bar top"></span>
        <span class="bar middle"></span>
        <span class="bar bottom"></span>
      </div>
    </div>
  </div>
  <div class="container">
      <div class="row">
        <div class="columns medium-4 medium-offset-4 center">
          <h5>Recent posts</h5>
        </div>
      </div>
  
  </div>  
</header>    