<footer class="mdl-mega-footer mdl-color--white"> 
	<div class="mdl-grid ">	    
		<div class="mdl-cell mdl-cell--4-col-desktop mdl-cell--12-col">
		    
		        <div class="mdl-mega-footer__middle-section">
		            
		            <div class=" footer-social-icons">
		            	{% if site.twitter_username %}
		            	<a href="http://www.twitter.com/{{ site.twitter_username }}"><i class="fa fa-twitter" aria-hidden="true"></i></a>
		            	{% endif %}
		            	{% if site.github_username %}
		            	<a href="http://www.github.com/{{ site.github_username }}"><i class="fa fa-github" aria-hidden="true"></i></a>
		            	{% endif %}
		            	{% if site.facebook_username %}
		            	<a href="http://www.facebook.com/{{ site.github_username }}" "=""><i class="fa fa-facebook" aria-hidden="true"></i></a>
		            	{% endif %}
		            	{% if site.instagram_username %}
		            	<a href="http://www.instagram.com/{{ site.instagram_username }}"><i class="fa fa-instagram" aria-hidden="true"></i></a>
		            	{% endif %}
		            	{% if site.snapchat_username %}
		            	<a href="http://www.snapchat.com/add/{{ site.snapchat_username }}"><i class="fa fa-snapchat" aria-hidden="true"></i></a>{% endif %}
		            </div>
		            <p class="footer-text">Made with <i class="fa fa-heart mdl-color-text--red-600" aria-hidden="true"></i> by Mustapha Garba</p>
		            <p class="copyright">© 2016 Copyright. All rights reserved.</p>	                            
		        </div>		                   
		</div>
		<div class="mdl-cell mdl-cell--4-col-desktop mdl-cell--4-offset-desktop ">
			
		</div>
	</div>
  

</footer>   
	<script src="//code.jquery.com/jquery-2.1.3.min.js"></script>
	<script src="{{ "/js/jquery.fatNav.js " | prepend: site.baseurl }}"></script>
	<script type="text/javascript">
		$.fatNav();
		$(document).ready(function(){
		
		})
	</script>