    <footer class="home-footer">
      <div class="container">
        
        <div class="row footer-content align-justify">
          <div class="column small-12 large-5 ">
            <div class="left">               
              <div class="social-links">
                
                {% if site.twitter_username %}
                <a href="http://twitter.com/{{ site.twitter_username }}" target="_blank">Twitter</a>
                {% endif %}
                <a href="http://github.com/mustiag" target="_blank">Github</a>
                <a href="" target="_blank">Linkedin</a>
              </div>
            </div>
          </div>
          <div class="column small-12 large-4 large-offset-3">
              <div class="copyright">
                <p>© 2017 Mustapha Garba. Made in Abuja </p>
               
              </div>
          </div>
        </div>        
      </div> 
    </footer>
    <script src="{{ "/assets/js/app.js " | prepend: site.baseurl }}"></script>