<!-- Uses a transparent header that draws on top of the layout's background -->



  <header class="mdl-layout__header mdl-layout__header--transparent">
    <div class="mdl-layout__header-row">
      <!-- Title -->
      <span class="mdl-layout-title mdl-color-text--black">Kanuri-Lite</span>
      <!-- Add spacer, to align navigation to the right -->
      <div class="mdl-layout-spacer"></div>
      <!-- Navigation -->

    </div>
  </header>

      <div class="fat-nav">
          <div class="fat-nav__wrapper">
            <ul>
              <li><a href="{{ site.baseurl }}/">Home</a></li>
              <li><a href="{{ site.baseurl }}/">Category</a></li>
              <li><a href="#"><a href="http://www.jqueryscript.net/tags.php?/Portfolio/">Portfolio</a></a></li>
              <li><a href="{{ site.baseurl }}/#contact">Contact</a></li>
              <li><a href="{{ site.baseurl }}/about">About</a></li>
            </ul>
          </div>
      </div>