---
layout: default
title: Posts
permalink: /blog/
---
  <main class="blog-posts">
    {% include blog-header.html %}
  
    <!-- Hero Section -->
    <section class="posts">
      {% for post in site.posts %}
        <article class="cards">
          <header>
            <h3 class="posts__title">{{ post.title | escape }}</h3>
            <span class="posts__meta"></span>
          </header>
          <p class="excerpts">
          Angular has many lifecycle hooks, as well as a constructor. In this post, we’ll quickly cover the differences between the ngOnInit lifecycle hook which has been the source ...(continue)
          </p>
          <div class="posts__footer">
            <div class="posts__meta">
              <span class="date">{{ post.date | date: "%b %-d, %Y" }}</span>
              <span class="origin">Read on Medium</span>
            </div>
          </div>
        </article>
        {% endfor %}
      </section>
  </main>